In [ ]:
# Day 6 : Set, Its Methods. Dictionary, Its Method


#Set can be called as a collection of different data types
#Set Does not allow duplicate element
#Indexing and Slicing is not possible

In [3]:
s = set() # Empty Set
s = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 5, 11}     # Duplicate values not inserted in single set
print(s)
print("Size of Set : ", len(s))
s1 = {1, 1.2, True, 4+5j}
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
Size of Set :  11
{1, (4+5j), 1.2}

In [4]:
s3 = {1, 2, 2, 3, 4, "Hello", 5, 6, 6, 6, 7, 8, True, False}
print(s3)

{False, 1, 2, 3, 4, 5, 6, 7, 8, 'Hello'}

In [5]:
set1 = {1, 'Adarsh', 'Tanay', 'Yadnesh', 45, 76}
print(set1)

{1, 'Adarsh', 'Yadnesh', 76, 45, 'Tanay'}

In [39]:
# add : Adds the Element to the Set
set1.add(65)

In [40]:
# remove() : Removes the Element only if it is present in the Set
set1.remove('Yadnesh')   # Yadnesh Removed Successfully 
print(set1)
# set1.remove('Parth') # Gives error because Parth is not present in the set

{1, 65, 'Adarsh', 'Tanay', 76, 45}

In [41]:
# discard() : Removes the Element from the set.


# remove() gives error if the element is not present
# disacrd() does not gives error if the element is not present

set1.discard(45)
print(set1)
set1.discard('Yadnesh')  #Does not give Error

{1, 65, 'Adarsh', 'Tanay', 76}

In [42]:
# pop() : Removes the Ranf=dom Element from the set
print("Popped Element : ",set1.pop())
print(set1)

Popped Element :  1
{65, 'Adarsh', 'Tanay', 76}

In [35]:
# clear() : Clears the Entire Set

set1.clear()
print(set1)

set()

In [45]:
#Dictionary 

#Dictionary always come in pair
#Dictionary also uses curly braces to declare
#Syntax of Dictionary : d = {1 : 'Adarsh', 2 : 'Tanay', 3 : 'Yadnesh'}

In [66]:
d = {1 : 'Adarsh', 2 : 'Tanay', 3 : 'Yadnesh'}
print(d)
print(d[1])
print(d[2])
print(d[3])
print('Length of Set : ', len(d))

{1: 'Adarsh', 2: 'Tanay', 3: 'Yadnesh'}
Adarsh
Tanay
Yadnesh
Length of Set :  3

In [67]:
#get(key) : Returns the Value which is assigned to the key
print(d.get(1))   # Returns Adarsh
print(d.get(5))   # Returns None

Adarsh
None

In [68]:
#pop(key) : It Removes the Element
d.pop(3)
print(d)

{1: 'Adarsh', 2: 'Tanay'}

In [2]:
print(d.keys()) # Returns all the keys in the Dictionary
d[3] = 'Yadnesh'
print(d)

NameError: name 'd' is not defined

In [77]:
d.items()  # Returns all the Element

dict_items([(1, 'Adarsh'), (2, 'Tanay'), (3, 'Yadnesh')])

In [1]:
d[2] = 'Sushrut'

NameError: name 'd' is not defined