In [72]:
# Day 5 : List Data Type in Python. Tuple in Python
   # List --------> mutable
   # Tuple -------> immutable

In [3]:
a = [] # Empty List
print(type(a))

<class 'list'>

In [4]:
a = [1, 13, True, 2+3j, "Python"]
print(a)

[1, 13, True, (2+3j), 'Python']

In [57]:
lis = [10, 20, 30, 40]

In [63]:
#Append : Inserts one Element to the end of the List / Last of the List
lis.append(50)
print(lis)

[10, 30, 40, 50, 50]

In [64]:
# Insert : Inserts an Element at any Index of the List, unlike append which inserts only at the lsat
lis.insert(1, 15)
print(lis)
lis.insert(6, 35)
print(lis)

[10, 15, 30, 40, 50, 50]
[10, 15, 30, 40, 50, 50, 35]

In [62]:
# Pop : Removes the Last Element from the List, and returnd the popped element
lis.pop()
print(lis)

# pop(index) : Removes the Element at Perticular Index in the List
lis.pop(2)
print(lis)

[10, 30, 40, 40, 50]
[10, 30, 40, 50]

In [61]:
# Remove : Removes any Element from the List, It removes the First occurance of that element
lis.remove(20)
print(lis)

[10, 30, 40, 40, 50, 60]

In [60]:
# Extend : Used to add Multiple Element in the List at a time
lis.extend([40, 50, 60])
print(lis)

[10, 20, 30, 40, 40, 50, 60]

In [59]:
# Count : Counts the number of occurance of the Perticular Element,, and Returns it
print(lis.count(50))
print(lis.count(60))

0
0

In [47]:
#Reverse : Reversed the Content of the List
arr = [1, 2, 3, 4, 5, 6]
print("Original List : ", arr)
arr.reverse()
print("Reversed List : ", arr)

Original List :  [1, 2, 3, 4, 5, 6]
Reversed List :  [6, 5, 4, 3, 2, 1]

In [49]:
#Sort : Sorts the Content in the List in Ascending ot Descending Order
num = [3, 5, 7, 2, 9, 2, 4]
num.sort()
print("Ascending Order : ",num)
num.sort(reverse = True)
print("Descending Order : ", num)

Ascending Order :  [2, 2, 3, 4, 5, 7, 9]
Descending Order :  [9, 7, 5, 4, 3, 2, 2]

In [58]:
# Copy : Copies the Content of List to another
no = num.copy()
print(no)

[9, 7, 5, 4, 3, 2, 2]

In [ ]:
Shallow Copy :

In [71]:
# Slicing Operation in List
print(no)
print(no[5])
print(no[2:4])
print(no[2:])

[9, 7, 5, 4, 3, 2, 2]
2
[5, 4]
[5, 4, 3, 2, 2]

In [95]:
#Tuple Operations
tup = (6, 4, 2, 1, 5, 3)
print(tup)
print(tup[5])
print(tup[2 : 6])
print(tup[ : 5])

(6, 4, 2, 1, 5, 3)
3
(2, 1, 5, 3)
(6, 4, 2, 1, 5)

In [83]:
# tup.append(20)  # ---------> Error Because Tuple is Immutable
# tup.pop()       # ---------> Error
# tup.insert(1, 25) # -------> Error

In [97]:
# Operation on Tuple

print("Length of Tuple : ",len(tup))
print("Maximum in Tuple : ", max(tup))
print("Minimum in Tuple : ", min(tup))
print("Sum of Element in Tuple : ", sum(tup))
t = tuple() # Creates an Empty Tuple
print(t) # Empty Tuple displayed
print("Sorted Tuple : ", sorted(tup))
print(tup)

Length of Tuple :  6
Maximum in Tuple :  6
Minimum in Tuple :  1
Sum of Element in Tuple :  21
()
Sorted Tuple :  [1, 2, 3, 4, 5, 6]
(6, 4, 2, 1, 5, 3)

In [100]:
# Nested List
nestedList = [[1, 2, 3, 4, 5], [6, 7, 8, 9]]
print(nestedList)
print(nestedList[0][2])

[[1, 2, 3, 4, 5], [6, 7, 8, 9]]
3