In [10]:
#Day 16: Functions Continued and Keyword Parameter, Parameter Passing Technique

In [17]:
def displayEmployeeDetails(eno, ename, sal, dsg, lang = "Python"):
    print("\t{}\t{}\t{}\t{}\t{}".format(eno, ename,sal, dsg, lang))

print("\tEmployee Information")
print("----------------------------------------------")      
print("\tempno\tname\tsal\tdesg\tlang")
print("----------------------------------------------")
displayEmployeeDetails(10, "Adarsh", 2.3, "SE")
displayEmployeeDetails(dsg = "BED", sal = 4.5, eno = 14, ename = "Vedant")
displayEmployeeDetails(eno = 4, sal = 1.5, ename = "Tanay", dsg = "FED")

	Employee Information
----------------------------------------------
	empno	name	sal	desg	lang
----------------------------------------------
	10	Adarsh	2.3	SE	Python
	14	Vedant	4.5	BED	Python
	4	Tanay	1.5	FED	Python

In [18]:
def addnum(*no):         #Single Star (*) Follows the Structure of Tuple
    print("Sum : ",sum(no))
addnum(10, 20)
addnum(1,2,3,4,5)

Sum :  30
Sum :  15

In [26]:
def information(*info):
    print(info, end=" ")
    print()

information("Adarsh", "Tanay", "Yadnesh", "Vedant")
information(10,20,30,40)
information("Adarsh", 40, 50, "Hello")

('Adarsh', 'Tanay', 'Yadnesh', 'Vedant')
(10, 20, 30, 40)
('Adarsh', 40, 50, 'Hello')

In [27]:
def disp(*a):
    for val in a:
        print(val, end=" ")
    print()

disp(10)
disp(10, 20, 30, 40)

10
10 20 30 40

In [41]:
def studentDetails(name, *marks, course = "Python"):
    print("-"*50)
    print(f"Name : {name} \t Course : {course}")
    print("-"*50)
    
    for i in marks:
        print(i)
    print("-"*50)
    print("Sum : ", sum(marks))
    print("Average : ", sum(marks)/len(marks))

studentDetails("Adarsh", 95, 90, 91, course = "ML")
studentDetails("Tanay", 90, 95, 92)

--------------------------------------------------
Name : Adarsh 	 Course : ML
--------------------------------------------------
95
90
91
--------------------------------------------------
Sum :  276
Average :  92.0
--------------------------------------------------
Name : Tanay 	 Course : Python
--------------------------------------------------
90
95
92
--------------------------------------------------
Sum :  277
Average :  92.33333333333333

In [50]:
def marks(name, **subject):         # Double Star (**) Follows the Dictionary Structure
    print("Name : ", name)
    for i, j in subject.items():
        print(i, j)
    print("-"* 50)

marks("Adarsh", java = 95, python = 96)
marks("Yadnesh", **{"java" : 90, "python" : 92})

Name :  Adarsh
java 95
python 96
--------------------------------------------------
Name :  Yadnesh
java 90
python 92
--------------------------------------------------