In [2]:
# Day 17 (21/06/2025): Lambda

In [7]:
# Check Number is Even or Odd
checkEvenOdd = lambda num: "Even" if num % 2 == 0 else "Odd"

n = int(input("Enter any Number : "))
print(checkEvenOdd(n))

Enter any Number :  45

Odd

In [9]:
#Maximum of Two Numbers
checkMax = lambda no1, no2: no1 if no1 > no2 else no2

a = int(input("Enter Number 1 : "))
b = int(input("Enter Number 2 : "))
print(checkMax(a, b))

Enter Number 1 :  40
Enter Number 2 :  50

50

In [13]:
#Calculator

add = lambda num1, num2: num1 + num2

sub = lambda num1, num2: num1 - num2

mult = lambda num1, num2: num1 * num2

div = lambda num1, num2: "Cannot Divide By Zero" if num2 == 0 else num1 / num2

n1 = int(input("Enter Number 1 : "))
n2 = int(input("Enter Number 2 : "))

print(add(n1, n2))
print(sub(n1, n2))
print(mult(n1, n2))
print(div(n1, n2))
print(add(10, 20))

Enter Number 1 :  45
Enter Number 2 :  1

46
44
45
45.0
30

In [17]:
# Filter Number greater than 50
num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
lst = list(filter(lambda x: x > 50, num))

print("Filtered List : ", lst)

Filtered List :  [60, 70, 80, 90, 100]

In [26]:
#Positive Negative
print("Enter List of Values seperated by Space : ")
lst = [int(val) for val in (input().split(" "))]
print("Positive Element : ", list(filter(lambda n: n > 0, lst)))
print("Negative Element : ", list(filter(lambda n: n < 0, lst)))

Enter List of Values seperated by Space :

 1 2 3 4 5 6 -7 -8 -9

Positive Element :  [1, 2, 3, 4, 5, 6]
Negative Element :  [-7, -8, -9]

In [33]:
#Even Odd from List
print("Enter Values (Seperated by Comma) : ")
lst = [int(val) for val in input().split(",")]
print("Even : ", list(filter(lambda n: n % 2 == 0, lst)))

Enter Values (Seperated by Comma) :

 1,2,3,4,5,6,7,8,9

Even :  [2, 4, 6, 8]

In [35]:
# Double the Every Element of List

number = [1, 2, 3, 4, 5, 6]
doubled = list(map(lambda x: x * 2, number))

print("Doubled List : ", doubled)

Doubled List :  [2, 4, 6, 8, 10, 12]

In [37]:
print("Enter the First List : ")
lst1 = [int(val) for val in input().split()]
print("Enter the Second List : ")
lst2 = [int(val) for val in input().split()]
lst3 = list(map(lambda m, n: m * n,lst1, lst2))
print("First List : ",lst1)
print("Second List : ",lst2)
print("Multiplied : ",lst3)

Enter the First List :

 10 20 30 40

Enter the Second List :

 1 2 3 4

First List :  [10, 20, 30, 40]
Second List :  [1, 2, 3, 4]
Multiplied :  [10, 40, 90, 160]

In [38]:
# Reduce Function

In [40]:
import functools
lst = [10, 20, 50, 88, 94 , 12]
big = functools.reduce(lambda x, y: x if x > y else y, lst)
print(big)

94