# Pandas

In [2]:
import pandas as pd
import numpy as np
print(pd.__version__)

2.3.1

In [4]:
ser = pd.Series({"Animal" : ["Lion","Tiger","Wolf","Lepord"], "Bird" : ["Parrot","Sparrow","Eagel"]})

In [5]:
ser

Animal    [Lion, Tiger, Wolf, Lepord]
Bird         [Parrot, Sparrow, Eagel]
dtype: object

In [6]:
a = [10, 20, 30, 40, 50, 60, 70, 80]
b = pd.Series(a)
print(b)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [7]:
s = pd.Series(a, dtype = float)
print(s)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
6    70.0
7    80.0
dtype: float64

In [8]:
import pandas as pd
import numpy as np

lst = [1, 2, 3, 4, 5]
lst1 = pd.Series(lst)

tup = (1, 2, 3, 4, 5)
tup1 = pd.Series(tup)

dic = {
    "Name": "Adarsh Tile",
    "Roll No.": 62
}
dic1 = pd.Series(dic)

rng = np.arange(10)
rng1 = pd.Series(rng)

string = "Adarsh"
string1 = pd.Series(string)

sets = {1, 2, 3, 4, 5}
# sets1 = pd.Series(sets)

arr = np.zeros((1, 2, 3, 4, 5))
arr1 = pd.Series(arr.flatten())

print(lst1)
print(tup1)
print(dic1)
print(rng1)
print(string1)
print(arr1)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64
Name        Adarsh Tile
Roll No.             62
dtype: object
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    Adarsh
dtype: object
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
115    0.0
116    0.0
117    0.0
118    0.0
119    0.0
Length: 120, dtype: float64

In [9]:
s = pd.Series([10, 20, 30, 40, 50])
print("Addition :\n", s+5)
print("Substraction :\n", s-5)
print("Multiplication :\n", s*5)
print("Division :\n", s/10)
print("Floor Division :\n", s//10)
print("Exponential :\n", s**2)

Addition :
 0    15
1    25
2    35
3    45
4    55
dtype: int64
Substraction :
 0     5
1    15
2    25
3    35
4    45
dtype: int64
Multiplication :
 0     50
1    100
2    150
3    200
4    250
dtype: int64
Division :
 0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
Floor Division :
 0    1
1    2
2    3
3    4
4    5
dtype: int64
Exponential :
 0     100
1     400
2     900
3    1600
4    2500
dtype: int64

In [10]:
s.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [11]:
s.sum()

np.int64(150)

In [12]:
s.mean()

np.float64(30.0)

In [13]:
s.mean()

np.float64(30.0)

In [14]:
s.median()

np.float64(30.0)

In [15]:
s.std()

np.float64(15.811388300841896)

In [16]:
print(s[s>30])

3    40
4    50
dtype: int64

In [17]:
string = pd.Series(["Adarsh", "Sushrut","Yadnesh"])

In [18]:
string.str.lower()

0     adarsh
1    sushrut
2    yadnesh
dtype: object

In [19]:
string.str.upper()

0     ADARSH
1    SUSHRUT
2    YADNESH
dtype: object

In [20]:
string.str.replace("s", "*")

0     Adar*h
1    Su*hrut
2    Yadne*h
dtype: object